
@model IEnumerable<Web_Phim.Models.TheLoai>
<link rel="stylesheet" href="@Url.Content("~/Assets/CSS/TheLoaiDropDown.css?v=1.1")" />
<ul class="theloai-menu">
    @foreach (var tl in Model)
    {
        <li>
            <a href="@Url.Action("PhimTheoTheLoai", "Home", new { MATHELOAI = tl.MaTheLoai })">
                @tl.TenTheLoai
            </a>
        </li>
    }
</ul>
